@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: var(--Dark-Grayish-Blue);
  height: 330px;
  width: 400px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.container p {
  color: var(--Light-Cyan);
  font-size: 27px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.p-wrapper {
  padding: 25px;
}

.container h1 {
  color: var(--Neon-Green);
  font-size: 17px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
}

.divider {
  display: flex;
  margin-top: 20px;
}

.divider-wrapper {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
